body{
    background-color: #ffffff;
}

.about-container{
    height: 100vh;
    padding: 50px 65px;
}

.about-container .row{
    margin-top: 25px;
    height: inherit;
}

.about-container h3{
    font-weight: 400;
}

.about-container .about{
    position: relative;
    top: 5%;
}

.about h1{
    font-weight: 600;
    margin-bottom: 20px;
}

.about p{
    margin-bottom: 20px;
    font-weight: 200;
}

.about .btn{
    font-size: 1.25rem;
    color: #000;
    font-weight: bolder;
    border: 2.25px solid #000000;
    letter-spacing: .05rem;
    padding: 6px 30px;
}

.about .btn:hover{
    background-color: #000;
    color: #fff;
}

.about-container .icon-div{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}