/* White: #ffffff */
/* Green: #55da65 */
/* Black Background: #1d1d1d*/

body{
    background-color: #262626;
    overflow-x: hidden;
}

.about-container{
    padding: .25rem;
    text-align: center;
    height: 100vh;
    position: fixed;
    width: 30vw;
    overflow-y: hidden;
    background-color: #fff;
}

.about-container-mobile{
    position: relative;
    width: 90vw;
    height: fit-content;
    background-color: transparent;
    box-shadow: none;
}

.about-container .row{
    height: inherit;
}

.about-container h3{
    margin-top: 7vh;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.45rem;
}

.about-container-mobile h3{
    margin-top: 2vh;
}


.about-page-container h3{
    margin-top: 45px;
}

.about {
    margin-bottom: 4vh;
}

.about h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 125%;
    color: #55da65;
}

.about p{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 2.25vh;
    letter-spacing: 1px;
}

.about-container-mobile .about p{
    font-size: 1.95vh;
}

/* .about p:last-of-type{
    margin-bottom: 10px;
} */

.about a{
    font-size: 1.25rem;
    color: #55da65;
    font-weight: bolder;
    border: 2.25px solid #55da65;
    border-radius: 20px;
    letter-spacing: .05rem;
    padding: 3px 25px;
    text-decoration: none;
}

/* .about a:hover{
    color: #06b92d;
    border: #06b92d 2.25px solid;
} */

.about-container .icon-div{
    margin: 10px auto 0;
}

.about-container .icon-div li{
    margin: 0 35px;
}

.about-container .icon-div li:first-of-type{
    margin-left: 0;
}

.about-container .icon-div li:last-of-type{
    margin-right: 0;
}

.about-container .icon-div li a{
    color: #747474;
    font-size: 1.5rem;
}

.about-container .email-icon:hover{
    color: #ea4335;
}

.about-container .linkedIn-icon:hover{
    color: #0073b1;
}

.about-container .resume-icon:hover{
    color: #fbb034;
}

.about-container .github-icon:hover{
    color: #000000;
}

.about-email-link{
    color: #fff;
    letter-spacing: 1px;
}

.about-email-link:hover{
    color: #000;
    text-decoration: none;
}