body{
    background-color: #262626;
    overflow-x: hidden;
}

.about-container{
    padding: 0 1rem;
    height: 100vh;
    position: fixed;
    width: 30vw;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 4px 0px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 24px -6px rgba(0,0,0,0.75);
}

.about-container-mobile{
    position: relative;
    width: 90vw;
    height: fit-content;
    background-color: transparent;
    box-shadow: none;
}

.about-container .row{
    height: inherit;
}

.about-container h3{
    margin-top: 3vh;
    margin-bottom: 6px;
    font-size: 1.35rem;
    color: #9c9c9c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: .75px;
}

.about-container-mobile h3{
    margin-top: 2vh;
    color: #ffffff;
    font-size: 1.35rem;    margin-top: 2vh;
    color: #ffffff;
    font-size: 1.35rem;
}


.about-page-container h3{
    margin-top: 45px;
}

.about h1, .skills-div h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 1.35rem;
    color: #1ee09d;
    text-align: center;
}

.about p{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: .95vw;
    color: #636363;
    letter-spacing: 1px;
}

.about-container-mobile .about p{
    font-size: 1.8vh;
    color: #ffffff;
}

.skills-div {
    margin-bottom: 15px;
}

.skills-div h4 {
    margin-bottom: 10px;
}

.skills-div ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.skills-div li {
    padding-right: 10px;
    margin-right: 10px;
    font-weight: 500;
    font-size: .95vw;
    color: #636363;
    letter-spacing: 1px;
}

.about-container .icon-div{
    margin: 10px auto -15px;
}

.about-container .icon-div li{
    margin: 0 15px;
    z-index: 10;

}

.about-container .icon-div li:first-of-type{
    margin-left: 0;
}

.about-container .icon-div li:last-of-type{
    margin-right: 0;
}

.about-container .icon-div li a{
    color: #636363;
    font-size: 1.5rem;
}

.about-container .linkedIn-icon:hover{
    color: #0073b1;
}

.about-container .resume-icon:hover{
    color: #B50000;
}

.about-container .github-icon:hover{
    color: #000000;
}


.about-email-link{
    color: #636363;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1vw;
    font-weight: 600;
}

.about-container-mobile .about-email-link{
    font-size: 1.11rem;
}

.about-email-link span{
    color: #1ee09d;
    letter-spacing: 1px;
    font-size: 1.75rem;
    position: relative;
    font-weight: 600;
    bottom: -5px;
}

.about-email-link:hover{
    /* color: #000; */
    text-decoration: none;
    color: #464646;
}