.portfolio-container h1{
    margin-bottom: 20px;
}

.project-card-image{
    max-width: 247px;
    width: 210px;
    height: 135px;
    border-radius: 6px;
}

.portfolio-display{
    overflow-y: scroll;
    height: 80vh;
}

.project-card{
    height: 325px;
    max-width: 18rem;
    min-width: 15rem;
    margin-bottom: 40px;
}

.project-card .card-link{
    position: relative;
    bottom: 0;
}

