.active-icon-switch{
    font-size: 30px;
}

.yappe-dot:hover{
    transform: scale(1.35);
    cursor: pointer;
    transition: .25s;
    color: #1ee09d;
}

.trivia-dot:hover{
    transform: scale(1.35);
    cursor: pointer;
    transition: .25s;
    color: #d5fa00;
}

.google-dot:hover{
    transform: scale(1.35);
    cursor: pointer;
    transition: .25s;
    color: #5aaaff;
}

.yappe-active{
    color: #1ee09d;
    filter: drop-shadow( 0 1px 2px #212529);
}

svg.svg-inline--fa.fa-gamepad.fa-w-20.active-icon-switch.trivia-active{
    color: #d5fa00;
    filter: drop-shadow( 0 1px 2px #212529);
};

/* svg.svg-inline--fa.fa-book-open.fa-w-18.active-icon-switch.google-active{
    color: #5aaaff;
    filter: drop-shadow( 0 1px 2px #212529);
}

svg.svg-inline--fa.fa-book-open.fa-w-18.active-icon-switch.google-active{
    color: #5aaaff;
    filter: drop-shadow( 0 1px 2px #212529);
}

.svg.svg-inline--fa.fa-book-open.fa-w-18.active-icon-switch.google-active{
    color: #5aaaff;
    filter: drop-shadow( 0 1px 2px #212529);
} */