/* White: #ffffff */
/* Green: #55da65 */
/* Black Background: #1d1d1d*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #262626;
    /* overflow: hidden; */

    /* background: rgb(27,111,69);
    background: -moz-linear-gradient(34deg, rgba(27,111,69,1) 0%, rgba(49,129,130,1) 70%, rgba(33,70,99,1) 100%);
    background: -webkit-linear-gradient(34deg, rgba(27,111,69,1) 0%, rgba(49,129,130,1) 70%, rgba(33,70,99,1) 100%);
    background: linear-gradient(34deg, rgba(27,111,69,1) 0%, rgba(49,129,130,1) 70%, rgba(33,70,99,1) 100%); */
}

.profile-container .profile-row{
    background: rgb(27,111,69);
    background: -moz-linear-gradient(34deg, rgba(27,111,69,1) 0%, rgba(49,129,130,1) 70%, rgba(33,70,99,1) 100%);
    background: -webkit-linear-gradient(34deg, rgba(27,111,69,1) 0%, rgba(49,129,130,1) 70%, rgba(33,70,99,1) 100%);
    background: linear-gradient(34deg, rgba(27,111,69,1) 0%, rgba(49,129,130,1) 70%, rgba(33,70,99,1) 100%);
}

.svg-div svg {
    margin: 30px 73px 50px;
}
