/* White: #ffffff */
/* Green: #55da65 */
/* Black Background: #1d1d1d*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #262626;
    overflow: hidden;
}

.profile-container .profile-row{
    background: rgb(35,173,105);
    background: -moz-linear-gradient(15deg, rgba(35,173,105,1) 0%, rgba(52,143,144,1) 57%, rgba(33,92,139,1) 100%);
    background: -webkit-linear-gradient(15deg, rgba(35,173,105,1) 0%, rgba(52,143,144,1) 57%, rgba(33,92,139,1) 100%);
    background: linear-gradient(15deg, rgba(35,173,105,1) 0%, rgba(52,143,144,1) 57%, rgba(33,92,139,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23ad69",endColorstr="#215c8b",GradientType=1);
}

.svg-div svg {
    margin: 30px 73px 50px;
}
