.home-container{
    background-image: url('./ollie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.intro-name-div{
    text-align: center;
    position: relative;
    top: 25%;
}

.intro-name-div h2{
    font-size: 3rem;
    line-height: 0%;
}

.intro-name-div h1{
    font-size: 10rem;
}

.icon-div{
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.icon-div li{
margin:0 15px;
}

.arrow-next{
    text-align: center;
    font-size: 25px;
    color: black;
}