/* White: #e8e8e8 */
/* Green: #00d856 */


.home-container {
    background-image: url('./ollie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 22% 0;
    height: 100vh;
    padding: 0;
}

.home-container::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-image: url('./dark-dot.png');
    opacity: .6;
    position: fixed;
}

.intro-name-div {
    text-align: center;
    position: relative;
    top: 25%;
}

.intro-name-div h2 {
    font-size: 2.5rem;
    line-height: 0%;
    margin-bottom: 10px;
    color: #e8e8e8;
    text-shadow: 2px 5px 11px #000000;
}

.intro-name-div h1 {
    font-size: 7rem;
    color: #00d856;
    text-shadow: 2px 4px 16px #000000;
}

.icon-div {
    width: fit-content;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 27px;
}

.icon-div li {
    margin: 0 15px;
}

.arrow-next {
    text-align: center;
    font-size: 25px;
    color: #e8e8e8;
}

.arrow-next:hover {
    color: #1b630e;
}