body{
    background-image: url('./ollie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-name-div{
    text-align: center;
}

.icon-div{
    width: fit-content;
    margin: auto;
}

.icon-div li{
margin:0 15px;
}

.arrow-next{
    text-align: center;
}