@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Nanum+Pen+Script&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f8ff;
    background-image: url('../images/ollie.jpg');
    background-size: cover;
    color: #1e1e24;
    /* color: whitesmoke; */
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-container{
    width: 100%;
    height: 100%;
    /* Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


/* Section */
section{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* scroll-snap-align: center; */
}

.navbar{
    position: absolute;
    width: -webkit-fill-available;
    height: 45px;
    font-family: 'Rock Salt';
}

#navbar{
    display: none;
}
.navbar-brand{
    font-size: 17px;
}

.background-half{
    width: 50%;
    height: -webkit-fill-available;
    margin: 45px 0 45px 45px;
    background-color: #fffd82;
    float: right;
    position: fixed;
}
#intro-section{
    background: #f6f8ff;
}

.intro-div{
    font-family: 'Mitr';
    /* font-family: 'Sriracha', cursive; */
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
    visibility: hidden;
    /* display: none; */
    /* padding: 15%; */
}

.intro-div h1{
    font-size: 18vh;
    text-transform: uppercase; 
    text-shadow: 2px 2px 8px #083d77;
}

#my-name{
    line-height: 85%;
}

#my-name span{
    font-size: 25vh;
    position: absolute;
    margin-top: -13px;
    margin-left: -20px;
    color: #fffd82;
    font-family: monospace;
}

.rotate-270{ 
    transform:rotate(270deg);
}

.rotate-90{
    transform: rotate(90deg);
}

#intro-next{
    font-family: 'Mitr';
    position: relative;
    width: fit-content;
    bottom: 5%;
    left: 3%;
    text-align: center;
    margin: auto;
    visibility: hidden;
    z-index: 1;
}

#intro-next :hover{
    cursor: pointer;
}

#intro-next p {
    margin-bottom: 0;
    font-weight: 600;
}
/* Options Section */
#row {
    height: 100%;
}
#about-option{
    width: 50%;
    background-color: #f6f8ff;
    color: #083d77;
}

#portfolio-option{
    width: 50%;
    background-color: #083d77;
    color: #f6f8ff;
}

.half-mid{
    text-align: center;
    margin-top: 23%;
}

.about-des, 
.portfolio-des{
    font-family: 'Krona One';
    margin-top: 50px;
    line-height: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.this-yellow{
    color: #fffd82;
}

#options-button-div{
    margin-top: 15%;
}

#options-button-div .btn{
    width: 230px;
    height: 45px;
    font-family: 'Krona One';
    font-size: 18px;
    border: 2px solid transparent;
}

.about-btn{
        color: #1e1e24;
}

.port-btn{
    color: #fffd82;
}

.about-btn:hover{
    background-color: #1e1e24;
    color: #f6f8ff;
}

.port-btn:hover{
    background-color: #fffd82;
    color: #083d77;
}
/* Options Section Ends */

/* About Section */
#about-section{
    display: none;
    background-color: #f6f8ff;
}

#about-section h1{
    color: #f2f2f2;    
    font-size: 50px;
    text-shadow: -3px 0 #C11C35, 0 1px #C11C35,
    1px 0 #C11C35, 0 -1px #C11C35;
}

#about-section p{
    font-size: 20px;
    line-height: 35px;
    /* color: #202020;
    text-shadow: -1px 0 #f2f2f2, 0 1px #f2f2f2, 1px 0 #f2f2f2, 0 -1px #f2f2f2; */
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.circular-portrait {
    position: relative;
    width: 285px;
    height: 320px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .circular-portrait img {
      position: sticky;
    height: 330px;
    margin-top: -60px;
    width: 100%;
    height: auto;
  }
/* About Section Ends*/

/* Portfolio Section */
.switch-btn{
    width: 5%;
    position: fixed;
    height: -webkit-fill-available;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .4);
};

.switch-h3,
.switch-button i {
    left: -8%;
    position: fixed;
    bottom: 48%;
    /* right: 49%; */
    transform: rotate(-90deg);
};

#portfolio-section{
    display: none;
    background-color: #083d77;
}

.portfolio-container{
    width: 85%;
    margin: auto;
}
.card{
    width: 225px;
}

.card{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    width: 225px;
    border: none;
    color: #002042;
    height: 270px;
    background: #083d77;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, .1),
                6px 6px 20px rgba(0,0,0,0.2);
    font-family: 'Krona One';
}

.card:hover{
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, .1),
                inset 6px 6px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.card:hover i{
    color: #fffd82;
}
.card i{
    margin-bottom: 8px;
}
.card h5{
    font-family: 'Krona One';
}


.card button{
    font-family: 'Krona One';
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #002042;
    font-size: 16px;
    background: transparent;
    text-decoration: none;
    border: none;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, .05), 4px 4px 15px rgba(0,0,0,0.2);
}

.card button:hover{
    box-shadow: inset -4px -4px 15px rgba(255, 255, 255, .03),
    inset 4px 4px 15px rgba(0,0,0,0.1);
    color: #fffd82;
}

.info-div{
    margin: auto;
    font-family: 'Krona One';
    text-align: center;
    color: #f6f8ff;
    text-shadow: 2px 2px 8px #010c16;
    border-radius: 10px;
    display: none;
}

#weather-info-div img,
#trivia-info-div img{
    max-width: 615px;
    height: 315px;
    border-radius: 10px;
}

#planner-info-div img{
    min-width: 615px;
    height: 315px;
    border-radius: 10px;
}

.icon-link-div {
    margin-top: 80px;
}
.icon-link-div a{
    margin: 22px;
    font-family: 'Krona One';
    padding: 15px 30px;
    border-radius: 40px;
    color: #002042;
    font-size: 15px;
    text-decoration: none;
    text-shadow: none;
    display: inline;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, .05), 
    4px 4px 15px rgba(0,0,0,0.2);
}

.icon-link-div a:hover{
    box-shadow: inset -4px -4px 15px rgba(255, 255, 255, .03),
    inset 4px 4px 15px rgba(0,0,0,0.1);
    color: #fffd82;
}

.div-active{
    display: block;
}

.card-active{
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, .1),
    inset 6px 6px 20px rgba(0,0,0,0.3);
}

.card-active i{
    color: #fffd82;
};

.card-inactive{
    box-shadow: -4px -4px 15px rgba(255, 255, 255, .05), 4px 4px 15px rgba(0,0,0,0.2);
}

.card-inactive:hover{
    box-shadow: -6px -6px 20px rgba(255, 255, 255, .1), 6px 6px 20px rgba(0,0,0,0.2);
    color: #002042;
    transform: scale(1);
}

.card-inactive:hover i{
    color: #002042;
}


.p-div{
    font-size: 25px;
    line-height: 30px;
    font-family: 'Homemade Apple';
    padding: 0 100px;
    color: #002042;
}

.indent{
    margin-left: 30px;
}
.exit-btn{
    float: right;
    margin: 0 5px 20px 0;
    color: #002042;
    text-shadow: none;
}

.exit-btn:hover{
    color: #fffd82;
    cursor: pointer;
}
/* #container:hover + #cube { background-color: yellow; } */

/* .trivia-info-div ~ .my-button:hover {
    display: block;
}
.hidden{
    display: none;
} */
/* Portfolio Section Ends*/