@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f8ff;
    background-image: url('../images/ollie.jpg');
    background-size: cover;
    color: #212121;
    /* color: whitesmoke; */
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    /* -ms-overflow-style: none; */
    /* overflow: -moz-scrollbars-none;  */
}

/* body::-webkit-scrollbar{
    display: none;
} */

.main-container {
    width: 100%;
    height: 100%;
    /* Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* Section */

section {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    max-width: 1400px;
    margin: auto;
    display: none;
    padding: 2% 4%;
}

.navbar-brand {
    font-family: 'Black Ops One';
    font-size: 50px;
    color: #fff;
    margin: auto;
    position: fixed;
    top: 1%;
    right: 48%;
}

.navbar .btn {
    color: #428f66;
    border: #428f66 2px solid;
    width: 218px;
    font-family: 'Krona One';
}

.navbar .btn:hover {
    color: #fff;
    background-color: #428f66;
}

.navbar-brand:hover {
    color: #fff;
}

.links-div {
    height: 80vh;
    position: absolute;
    right: 0;
    margin-right: 40px;
    padding: 12% 0;
    margin-top: 6%;
    text-align: center;
    border-left: 1px #6d6d6d solid;
    display: none;
}

.links-div ul {
    padding-left: 25px;
}

.links-div ul li {
    margin-bottom: 20px;
}

.links-div ul li a {
    color: #fff;
}

.links-div ul li a:hover {
    color: #428f66;
}

.background-half {
    background-color: #428f66;
    background-image: url('../images/backgrounds/dark-dot.png');
    display: block;
    opacity: 75%;
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 0px;
    float: right;
    position: fixed;
    display: none;
}

#intro-section {
    display: flex;
    color: #c3c5cc;
}

.intro-div {
    font-family: 'Mitr';
    /* font-family: 'Sriracha', cursive; */
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    visibility: hidden;
    /* display: none; */
    /* padding: 15%; */
}

.intro-div h1 {
    font-size: 12vh;
    text-transform: uppercase;
    /* text-shadow: 2px 2px 8px #424242; */
    color: #353535;
    opacity: 86%;
    line-height: 100%;
}

#my-name {
    color: #fff;
    opacity: 100%;
    font-size: 19vh;
}

#my-name span {
    font-size: 34vh;
    position: absolute;
    top: 36%;
    color: #353535;
    opacity: 86%;
    font-family: monospace;
}

#right-brac {
    right: 30%;
}

#left-brac {
    left: 30%;
}

.rotate-270 {
    transform: rotate(270deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

#intro-next {
    font-family: 'Mitr';
    position: relative;
    width: 100%;
    bottom: 0;
    /* left: 3%; */
    text-align: center;
    visibility: hidden;
    /* z-index: 1; */
    color: #fff;
}

#intro-next :hover {
    cursor: pointer;
}

#intro-next p {
    margin-bottom: 0;
    font-weight: 600;
}

/* Options Section */

#row {
    height: 100%;
}

#about-option {
    width: 50%;
    background-color: #f6f8ff;
    color: #212121;
    z-index: 0;
}

#about-option::after {
    content: "";
    background-image: url(https://www.transparenttextures.com/patterns/inspiration-geometry.png);
    opacity: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#portfolio-option {
    width: 50%;
    background-color: #212121;
    color: #fff;
    z-index: 0;
}

#portfolio-option h1, #portfolio-option .h1, #about-option h1, #about-option .h1 {
    color: #6d6d6d;
    font-size: 3rem;
}

#portfolio-option::after {
    content: "";
    background-image: url(https://www.transparenttextures.com/patterns/inspiration-geometry.png);
    opacity: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.half-mid {
    text-align: center;
    margin-top: 23%;
}

.about-des, .portfolio-des {
    font-family: 'Krona One';
    margin-top: 35px;
    line-height: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

#options-button-div {
    margin-top: 22%;
}

#options-button-div .btn {
    width: 269px;
    height: 70px;
    font-family: 'Krona One';
    font-size: 18px;
    border: 4px solid transparent;
}

.about-btn {
    color: #428f66;
}

.port-btn {
    color: #428f66;
}

.about-btn:hover {
    background-color: #428f66;
    color: #f6f8ff;
}

.port-btn:hover {
    background-color: #428f66;
    color: #212121;
}

/* Options Section Ends */

/* About Section */

#about-section {
    /* display: none; */
    background-color: #f6f8ff;
}

.switch-btn-about {
    width: 60px;
    /* width: 75px; */
    position: fixed;
    height: -webkit-fill-available;
    background-color: #212121;
    z-index: 15;
    font-family: 'Krona One';
    color: #428f66;
    right: 0;
    /* display: none; */
}

;
.switch-h3-about {
    position: fixed;
}

.switch-h3-about {
    right: -72px;
    /* right: -69px; */
    position: fixed;
    bottom: 48%;
    font-size: 13px;
    transform: rotate(-90deg);
}

.switch-arrow-about {
    position: fixed;
}

.switch-arrow-about {
    position: fixed;
    bottom: 48%;
    font-size: 20px;
    /* right: 52px; */
    right: 42px;
    transform: rotate(90deg);
}

;
/* About Section Ends*/

/* Portfolio Section */
.switch-btn{
    background-color: #f6f8ff;
}
.switch-btn {
    width: 60px;
    /* width: 75px; */
    position: fixed;
    height: -webkit-fill-available;
    background-color: #f6f8ff;
    z-index: 15;
    font-family: 'Krona One';
    color: #428f66;
    display: none;
}
/* .switch-clickable{
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .4);
} */

.switch-h3 {
    position: fixed;
}

.switch-h3 {
    left: -52px;
    /* left: -45px; */
    position: fixed;
    bottom: 48%;
    font-size: 13px;
    transform: rotate(-90deg);
    display: none;
}

.switch-arrow {
    position: fixed;
}

.switch-arrow {
    position: fixed;
    bottom: 48%;
    font-size: 20px;
    /* left: 52px; */
    left: 42px;
    transform: rotate(-90deg);
    display: none;
};

#portfolio-section {
    background-color: #212121;
}

.portfolio-container {
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.card {
    width: 225px;
}

.card {
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    width: 225px;
    border: none;
    color: #6d6d6d;
    height: 270px;
    background: inherit;
    border-radius: 40px;
    box-shadow: -7px -6px 20px rgba(255, 255, 255, .12), 6px 6px 20px rgba(0, 0, 0, .5);
    font-family: 'Krona One';
}

.card:hover {
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, .12), inset 6px 6px 20px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    color: #428f66;
}

.card:hover h5 {
    color: #fff;
}

.card:hover i {
    color: #428f66;
}

.card i {
    margin-bottom: 8px;
}

.card h5 {
    font-family: 'Krona One';
    color: #428f66;
}

/* .card button{
    font-family: 'Krona One';
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #002042;
    font-size: 16px;
    background: transparent;
    text-decoration: none;
    border: none;
    box-shadow: -7px -6px 20px rgba(255, 255, 255, .12),
    6px 6px 20px rgba(0,0,0,.5);}

.card button:hover{
    box-shadow: inset -4px -4px 15px rgba(255, 255, 255, .03),
    inset 4px 4px 15px rgba(0,0,0,0.1);
    color: #fffd82;
} */

.info-div {
    margin: auto;
    font-family: 'Krona One';
    text-align: center;
    color: #f6f8ff;
    text-shadow: 2px 2px 8px #010c16;
    border-radius: 10px;
    display: none;
}

#weather-info-div img, #trivia-info-div img {
    max-width: 615px;
    height: 315px;
    border-radius: 10px;
}

#planner-info-div img {
    min-width: 615px;
    height: 315px;
    border-radius: 10px;
}

.icon-link-div {
    margin-top: 80px;
}

.icon-link-div a {
    margin: 22px;
    font-family: 'Krona One';
    padding: 15px 30px;
    border-radius: 40px;
    color: #6d6d6d;
    font-size: 15px;
    text-decoration: none;
    text-shadow: none;
    display: inline;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, .05), 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.icon-link-div a:hover {
    box-shadow: inset -4px -4px 15px rgba(255, 255, 255, .12), inset 4px 4px 15px rgba(0, 0, 0, 0.8);
    color: #428f66;
}

.div-active {
    display: block;
}

.card-active {
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, .12), inset 6px 6px 20px rgba(0, 0, 0, 0.8);
    color: #428f66;
}

.card-active:hover {
    color: #428f66;
}

.card-active h5 {
    color: #fff;
}

.card-active i {
    color: #428f66;
}

;
.card-inactive {
    box-shadow: -7px -6px 20px rgba(255, 255, 255, .12), 6px 6px 20px rgba(0, 0, 0, .5);
}

.card-inactive:hover {
    box-shadow: -7px -6px 20px rgba(255, 255, 255, .12), 6px 6px 20px rgba(0, 0, 0, .5);
    color: #6d6d6d;
    transform: scale(1);
}

.card-inactive:hover i {
    color: #6d6d6d;
}

.card-inactive:hover h5 {
    color: #428f66;
}

.p-div {
    font-size: 25px;
    line-height: 30px;
    font-family: 'Homemade Apple';
    padding: 0 140px;
    color: #428f66;
}

.indent {
    margin-left: 30px;
}

.exit-btn {
    float: right;
    margin: 0 5px 20px 0;
    color: #428f66;
    text-shadow: none;
}

.exit-btn:hover {
    /* color: #428f66; */
    cursor: pointer;
}

/* #container:hover + #cube { background-color: yellow; } */

/* .trivia-info-div ~ .my-button:hover {
    display: block;
}
.hidden{
    display: none;
} */

/* Portfolio Section Ends*/