@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Nanum+Pen+Script&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f8ff;
    background-image: url('../images/ollie.jpg');
    background-size: cover;
    color: #1e1e24;
    /* color: whitesmoke; */
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    /* -ms-overflow-style: none; */
    /* overflow: -moz-scrollbars-none;  */
}

/* body::-webkit-scrollbar{
    display: none;
} */

.main-container{
    width: 100%;
    height: 100%;
    /* Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


/* Section */
section{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    position: absolute;
    width: -webkit-fill-available;
    height: 45px;
    font-family: 'Rock Salt';
}

#navbar{
    display: none;
}
.navbar-brand{
    font-size: 17px;
}

.background-half{
    background-color: #428f66;
    background-image: url('../images/backgrounds/dark-dot.png');
    display: block;
    opacity: 75%;
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 0px;
    float: right;
    position: fixed;
    display: none;
}

#intro-section{
    display: flex;
    color: #c3c5cc;
}

.intro-div{
    font-family: 'Mitr';
    /* font-family: 'Sriracha', cursive; */
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
    visibility: hidden;
    /* display: none; */
    /* padding: 15%; */
}

.intro-div h1{
    font-size: 12vh;
    text-transform: uppercase;
    /* text-shadow: 2px 2px 8px #424242; */
    color: #353535;
    opacity: 86%;
    line-height: 100%;
}

#my-name{
    color: #fff;
    opacity: 100%;
    font-size: 19vh;
}

#my-name span{
    font-size: 34vh;
    position: absolute;
    top: 36%;
    color: #353535;
    opacity: 86%;
    font-family: monospace;
}

#right-brac{
    right: 30%;
}

#left-brac{
    left: 30%;
}

.rotate-270{ 
    transform:rotate(270deg);
}

.rotate-90{
    transform: rotate(90deg);
}

#intro-next{
    font-family: 'Mitr';
    position: relative;
    width: 100%;
    bottom: 0;
    /* left: 3%; */
    text-align: center;
    visibility: hidden;
    /* z-index: 1; */
    color: #fff;
}

#intro-next :hover{
    cursor: pointer;
}

#intro-next p {
    margin-bottom: 0;
    font-weight: 600;
}
/* Options Section */
#row {
    height: 100%;
}
#about-option{
    width: 50%;
    background-color: #f6f8ff;
    color: #212121;
    z-index: 0;
}

#about-option::after {
    content: "";
    background-image: url(https://www.transparenttextures.com/patterns/inspiration-geometry.png);
    opacity: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#portfolio-option{
    width: 50%;
    background-color: #212121;
    color: #fff;
    z-index: 0;
}

#portfolio-option h1,
#portfolio-option .h1,
#about-option h1,
#about-option .h1{
    color: #6d6d6d;
    font-size: 3rem;
}



#portfolio-option::after {
    content: "";
    background-image: url(https://www.transparenttextures.com/patterns/inspiration-geometry.png);
    opacity: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.half-mid{
    text-align: center;
    margin-top: 23%;
}

.about-des, 
.portfolio-des{
    font-family: 'Krona One';
    margin-top: 35px;
    line-height: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

#options-button-div{
    margin-top: 22%;
}

#options-button-div .btn{
    width: 269px;
    height: 70px;
    font-family: 'Krona One';
    font-size: 18px;
    border: 4px solid transparent;
}

.about-btn{
    color: #428f66;
}

.port-btn{
    color: #428f66;
}

.about-btn:hover{
    background-color: #428f66;
    color: #f6f8ff;
}

.port-btn:hover{
    background-color: #428f66;
    color: #212121;
}
/* Options Section Ends */

/* About Section */
#about-section{
    /* display: none; */
    background-color: #f6f8ff;
}

#about-section h1{
    color: #f6f8ff;    
    font-size: 50px;
    text-shadow: -3px 0 #C11C35, 0 1px #C11C35,
    1px 0 #C11C35, 0 -1px #C11C35;
}

#about-section p{
    font-size: 20px;
    line-height: 35px;
    /* color: #202020;
    text-shadow: -1px 0 #f2f2f2, 0 1px #f2f2f2, 1px 0 #f2f2f2, 0 -1px #f2f2f2; */
    color: f6f8ff;
    text-shadow: 2px 2px 4px #000000;
}

.circular-portrait {
    position: relative;
    width: 285px;
    height: 320px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .circular-portrait img {
      position: sticky;
    height: 330px;
    margin-top: -60px;
    width: 100%;
    height: auto;
  }
/* About Section Ends*/

/* Portfolio Section */
.switch-btn{
    width: 60px;
    /* width: 75px; */
    position: fixed;
    height: -webkit-fill-available;
    background-color: #f6f8ff;
    z-index: 15;
    font-family: 'Krona One';
    color: #083d77;
    display: none;
};

/* .switch-clickable{
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .4);
} */

.switch-h3{
    position: fixed;
}
.switch-h3{
    left: -52px;
    /* left: -45px; */
    position: fixed;
    bottom: 48%;
    font-size: 13px;
    transform: rotate(-90deg);
    display: none;
};

.switch-info{
    position: fixed;
}

.switch-info{
    position: fixed;
    bottom: 65%;
    font-size: 24px;
    left: 25px;
    /* left: 30px; */
    display: none;
}

.switch-arrow{
    position: fixed;
}

.switch-arrow{
    position: fixed;
    bottom: 48%;
    font-size: 20px;
    /* left: 52px; */
    left: 42px;
    transform: rotate(-90deg);
    display: none;
};


#portfolio-section{
    /* display: none; */
    background-color: #083d77;
}

.portfolio-container{
    width: 85%;
    margin: auto;
}
.card{
    width: 225px;
}

.card{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    width: 225px;
    border: none;
    color: #002042;
    height: 270px;
    background: #083d77;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, .1),
                6px 6px 20px rgba(0,0,0,0.2);
    font-family: 'Krona One';
}

.card:hover{
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, .1),
                inset 6px 6px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.card:hover i{
    color: #fffd82;
}
.card i{
    margin-bottom: 8px;
}
.card h5{
    font-family: 'Krona One';
}


.card button{
    font-family: 'Krona One';
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #002042;
    font-size: 16px;
    background: transparent;
    text-decoration: none;
    border: none;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, .05), 4px 4px 15px rgba(0,0,0,0.2);
}

.card button:hover{
    box-shadow: inset -4px -4px 15px rgba(255, 255, 255, .03),
    inset 4px 4px 15px rgba(0,0,0,0.1);
    color: #fffd82;
}

.info-div{
    margin: auto;
    font-family: 'Krona One';
    text-align: center;
    color: #f6f8ff;
    text-shadow: 2px 2px 8px #010c16;
    border-radius: 10px;
    display: none;
}

#weather-info-div img,
#trivia-info-div img{
    max-width: 615px;
    height: 315px;
    border-radius: 10px;
}

#planner-info-div img{
    min-width: 615px;
    height: 315px;
    border-radius: 10px;
}

.icon-link-div {
    margin-top: 80px;
}
.icon-link-div a{
    margin: 22px;
    font-family: 'Krona One';
    padding: 15px 30px;
    border-radius: 40px;
    color: #002042;
    font-size: 15px;
    text-decoration: none;
    text-shadow: none;
    display: inline;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, .05), 
    4px 4px 15px rgba(0,0,0,0.2);
}

.icon-link-div a:hover{
    box-shadow: inset -4px -4px 15px rgba(255, 255, 255, .03),
    inset 4px 4px 15px rgba(0,0,0,0.1);
    color: #fffd82;
}

.div-active{
    display: block;
}

.card-active{
    box-shadow: inset -6px -6px 20px rgba(255, 255, 255, .1),
    inset 6px 6px 20px rgba(0,0,0,0.3);
}

.card-active i{
    color: #fffd82;
};

.card-inactive{
    box-shadow: -4px -4px 15px rgba(255, 255, 255, .05), 4px 4px 15px rgba(0,0,0,0.2);
}

.card-inactive:hover{
    box-shadow: -6px -6px 20px rgba(255, 255, 255, .1), 6px 6px 20px rgba(0,0,0,0.2);
    color: #002042;
    transform: scale(1);
}

.card-inactive:hover i{
    color: #002042;
}


.p-div{
    font-size: 25px;
    line-height: 30px;
    font-family: 'Homemade Apple';
    padding: 0 100px;
    color: #002042;
}

.indent{
    margin-left: 30px;
}
.exit-btn{
    float: right;
    margin: 0 5px 20px 0;
    color: #002042;
    text-shadow: none;
}

.exit-btn:hover{
    color: #fffd82;
    cursor: pointer;
}
/* #container:hover + #cube { background-color: yellow; } */

/* .trivia-info-div ~ .my-button:hover {
    display: block;
}
.hidden{
    display: none;
} */
/* Portfolio Section Ends*/