.hide{
  display: none;
}

.desktop-portfolio{
  color:black
}

.desktop-portfolio.card {
  width: 85%;
  margin: auto;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.4);
}


.desktop-project-title {
  color: #9c9c9c;
  font-weight: 600;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
}

/* .desktop-portfolio.card-title {
  margin-bottom: .75rem;
  font-family: 'Montserrat', sans-serif;
} */

.desktop-img{
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.47);
  -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.47);
  box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.27);
};


/* .desktop-portfolio-image-div {
  margin-bottom: 40px;
} */

.desktop-portfolio .desktop-img-div {
  width: 75%;
  margin: auto;
}

.mobile-img-div {
  position: absolute;
  top: 80px;
  right: 17%;
  width: 25%;
}

.desktop-img-div {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.27);
}

/* .desktop-portfolio-image-div img .mobile-img{
  width: 100%
}; */

.desktop-portfolio-btns{
  margin: 10px 0;
  display: flex;

  margin: -3px 0 25px;
  display: flex;
}

.desktop-portfolio-btns .neu-button-white{
  z-index: 1;
}

.desktop-portfolio-btns .neu-button-white span {
  color: #9c9c9c;
}

.desktop-portfolio-btns .neu-button-white:first-of-type{
  margin-right: 20px;
}

.project-select-ul{
  position: fixed;
  margin-bottom: 0;
  margin-top: 7vh;
  right: 1%;
  top: 30%;
  list-style: none;
  padding: 0;
  text-align: center;
}

.neu-button-white{
  padding: 0px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: .75px;
  color: #9c9c9c;
  border-bottom: solid #ffffff 2px;
  transition: 0.5s;
}

.neu-button-white:hover {
  padding-right: 45px;
  border-radius: 4px;
  text-decoration: none;
  border-bottom: solid #1edc9b 2px;
}

.neu-button-white:hover span{
  color: #1edc9b;
}

.project-select-ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ededed;
  width: 45px;
  height: 45px;
  text-shadow: 2px 2px 4px #000000;
}

.project-select-ul li .google-active{
  color: #5aaaff;
  filter: drop-shadow( 0 1px 2px #212529);
}

.project-select-ul li:last-of-type {
  margin-bottom: 0;
}