.project-details-container {
    margin-top: 40px;
    padding-top: 10px;
}

.project-details-container h4{
    width: fit-content;
    color: #636363;
    padding-right: 10px;
    padding-bottom: 4px;
    border-radius: 4px;
    border-bottom: solid #1ee09d 2px;
}

.project-details-container p{
    margin-bottom: 0px;
    font-weight: 500;
    font-size: .95vw;
    letter-spacing: 1px;
}

.desktop-portfolio-small p{
    font-size: 15px;
    margin-bottom: 15px;
}

.tech-list-ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.desktop-portfolio-small .tech-list-ul{
    flex-wrap: wrap;    
}


.tech-list-ul li {
    margin-right: 20px;
    font-weight: 500;
    font-size: .95vw;
    letter-spacing: 1px;
}

.desktop-portfolio-small .tech-list-ul li {
    font-size: 15px;
}

.tech-list-ul li:last-of-type{
    margin-right: 0;
}