.portfolio-container {
    padding: 0;
}

.portfolio-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    overflow-x: auto;
    margin-top: 45px;
    margin-bottom: 0;
}

.portfolio-container ul li {
    margin-right: 20px;
    margin-bottom: 25px;
}

.portfolio-container ul li:first-of-type {
    margin-left: 20px;
}

.portfolio-container ul li:last-of-type {
    padding-right: 20px;
}

.project-card {
    color: #989898;
    text-align: center;
    background-color: inherit;
    width: 12rem;
    height: 10rem;
    border-radius: 45px;
    box-shadow: 0px 13px 22px -1px rgba(0, 0, 0, 0.46);
}

.project-card:hover {
    color: #ffffff;
    background: -moz-radial-gradient(center, #55DA65 0%, #383838 100%);
    background: -webkit-radial-gradient(center, #55DA65 0%, #383838 100%);
    background: radial-gradient(ellipse at center, #55DA65 0%, #383838 100%);

}

.project-card:hover svg {
    color: #ffffff;
}

.project-card:hover h4 {
    color: #ffffff;
}

.project-card svg {
    color: #55da65;
    font-size: 4rem;
}

.project-card h4 {
    color: #989898;
    text-shadow: 0px 3px 16px rgba(0, 0, 0, 0.87);
}

.yappe h4, .notes h4 {
    margin-top: 20px;
}

.portfolio-display-div {
    padding: 0 20px;
}